#s-3677eaa6-b044-4a2e-86cd-85c8008dbfe8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3677eaa6-b044-4a2e-86cd-85c8008dbfe8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}