#s-39e3537d-ca4e-466b-a0c6-3357f58e0ce4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-39e3537d-ca4e-466b-a0c6-3357f58e0ce4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}