#s-3ecd9857-b0f7-4516-97b9-df26dcf158b5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ecd9857-b0f7-4516-97b9-df26dcf158b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}