#s-40f14dd2-7ef0-4428-828a-204c94ec073a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-40f14dd2-7ef0-4428-828a-204c94ec073a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-40f14dd2-7ef0-4428-828a-204c94ec073a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-40f14dd2-7ef0-4428-828a-204c94ec073a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}