#s-6a87a9e1-4d0d-48a8-8302-13904c97dd36 #s-Icon {
  -ms-transform: rotate(0.0deg);
}
#s-6a87a9e1-4d0d-48a8-8302-13904c97dd36 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-6a87a9e1-4d0d-48a8-8302-13904c97dd36 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}