#s-7bf28396-f65f-43b8-82bc-c2f9e535e93c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7bf28396-f65f-43b8-82bc-c2f9e535e93c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}