#s-afcdd234-cfae-4e3d-a820-7292c1daaf24 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-afcdd234-cfae-4e3d-a820-7292c1daaf24 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}