#s-b268ff96-44fa-43a5-9589-6845b7d1d007 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b268ff96-44fa-43a5-9589-6845b7d1d007 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}