#s-b268ff96-44fa-43a5-9589-6845b7d1d007 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b268ff96-44fa-43a5-9589-6845b7d1d007 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-b268ff96-44fa-43a5-9589-6845b7d1d007 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}