#s-e460cd2d-61df-4388-8b28-edfe88d5f09b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e460cd2d-61df-4388-8b28-edfe88d5f09b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}