#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4 #m-5f6bc502-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5f6bc502-28ca-4c8f-b32d-e466e0d663f4.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}