#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Pinned-top {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Panel_7 {
  width: 1117px;
  height: 93px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/9e5a5d89-36a5-4dca-b48b-f68384c4d8c4.png');
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Panel_7 .verticalalign {
  vertical-align: top;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_2 {
  position: absolute;
  top: 46px;
  left: 152px;
  width: 84px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_3 {
  position: absolute;
  top: 46px;
  left: 238px;
  width: 121px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_4 {
  position: absolute;
  top: 47px;
  left: 360px;
  width: 92px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_5 {
  position: absolute;
  top: 43px;
  left: 456px;
  width: 116px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_6 {
  position: absolute;
  top: 45px;
  left: 576px;
  width: 122px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_7 {
  position: absolute;
  top: 46px;
  left: 700px;
  width: 166px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087 #m-b91813a0-Hotspot_8 {
  position: absolute;
  top: 46px;
  left: 871px;
  width: 87px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-b91813a0-c94c-41e7-bb4c-817e92520087.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}